/**  Tablets in landscape mode, older desktop monitors **/
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
    nav {
        padding: 25px 30px;
        background-color: rgb(245, 244, 244);
        z-index: 5;
    }

    .row {
        width: 70%;
    }

    .header-textbox p {
        padding: 0;
    }

}

/**  Tablets in portrait mode, large display smartphones landscape mode **/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        text-align: center;
    }

    nav {
        display: none;
    }

    .mobile-nav-icon {
        display: block;
        position: fixed;
        top: 2.5%;
        right: 2.5%;
    }
    .mobile-nav-icon ion-icon {
        width: 50px;
    }
    .mobile-nav-logo {
        display: block;
    }
    
    .row {
        width: 65%;
    }

    section {
        padding: 70px 0;
    }

    h1 {
        font-size: 160%;
        word-spacing: 1px;
        letter-spacing: 0px;
    }

    h2 {
        font-size: 130%;
        margin-bottom: 30px;
    }

    .header-textbox {
        position: absolute;
        top: 50%;
        left: 0%;
    }

    .header-textbox p {
        font-size: 100%;
        line-height: 140%;
        width: 70%;
        margin: 0 auto 20px;
        padding: 0;
        font-weight: 400;
    }

    header::after,
    section::after {
        content: " ";
        display: block;
        width: 65%;
        border-bottom: 1px solid #C9CCD2;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)
    }

    .main-text {
        font-size: 90%;
    }

    .btn:link,
    .btn:visited {
        font-size: 100%;
    }
}

/**  Smartphones in landscape mode **/
@media only screen and (min-width: 421px) and (max-width: 767px) {
    header {
        text-align: center;
    }

    nav {
        display: none;
    }

    .mobile-nav-icon {
        display: block;
        position: fixed;
        top: 2.5%;
        right: 2.5%;
    }
    .mobile-nav-icon ion-icon {
        width: 50px;
    }
    .mobile-nav-logo {
        display: block;
    }

    .row {
        width: 65%;
    }

    section {
        padding: 70px 0;
    }

    h1 {
        font-size: 160%;
        word-spacing: 1px;
        letter-spacing: 0px;
    }

    h2 {
        font-size: 130%;
        margin-bottom: 30px;
    }

    .main-text {
        font-size: 90%;
    }

    .main-text:not(:last-child) {
        margin-bottom: 20px;
    }
    .header-textbox {
        position: absolute;
        top: 50%;
        left: 0%;
    }

    .header-textbox p {
        font-size: 90%;
        line-height: 140%;
        width: 70%;
        margin: 0 auto 20px;
        padding: 0;
        font-weight: 400;
    }

    .btn:link,
    .btn:visited {
        font-size: 100%;
    }

    header::after,
    section::after {
        content: " ";
        display: block;
        width: 65%;
        border-bottom: 1px solid #C9CCD2;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)
    }

    footer {
        padding: 50px 0;
        text-align: center;
    }

    footer .col {
        width: 100%;
    }
    footer .col:not(:last-child) {
        margin-bottom: 20px;
    }
    .footer-logo h4 {
        display: inline-block;
        font-size: 70%;
    }

    .footer-social {
        float: none;
    }

    .footer-social a ion-icon {
        width: 25px;
        margin: 0;
    }

    .footer-social a:not(:last-child) ion-icon {
        margin-left: 5px;
    }
}

/**  Smartphones in portrait mode **/
@media only screen and (max-width: 420px) {
    header {
        text-align: center;
    }

    nav {
        display: none;
    }

    .mobile-nav-icon {
        display: block;
        position: fixed;
        top: 2.5%;
        right: 2.5%;
    }
    .mobile-nav-icon ion-icon {
        width: 50px;
    }
    .mobile-nav-logo {
        display: block;
    }

    .row {
        width: 65%;
    }

    section {
        padding: 70px 0;
    }

    h1 {
        font-size: 160%;
        word-spacing: 1px;
        letter-spacing: 0px;
    }

    h2 {
        font-size: 130%;
        margin-bottom: 30px;
    }

    .main-text {
        font-size: 90%;
    }

    .main-text:not(:last-child) {
        margin-bottom: 20px;
    }
    .header-textbox {
        position: absolute;
        top: 50%;
        left: 0%;
    }

    .header-textbox p {
        font-size: 90%;
        line-height: 140%;
        width: 70%;
        margin: 0 auto 20px;
        padding: 0;
        font-weight: 400;
    }

    .btn:link,
    .btn:visited {
        font-size: 100%;
    }

    header::after,
    section::after {
        content: " ";
        display: block;
        width: 70%;
        border-bottom: 1px solid #C9CCD2;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)
    }

    footer {
        padding: 30px;
        text-align: center;
    }

    .footer-logo {
        display: none;
    }

    .footer-social {
        float: none;
    }
}