@media only screen and (max-width: 1370px) {
    .header-textbox p {
        margin-bottom: 20px;
        font-size: 110%;
        line-height: 140%;
        padding-right: 20%;
    }
}

@media only screen and (max-width: 1250px) {
    h1 {
        font-size: 300%;
        word-spacing: 2px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

    .header-textbox p {
        font-size: 105%;
        padding-right: 20%;
    }

    header::after,
    section::after {
        width: 71%;
    }

    nav {
        padding: 30px 100px;
    }

    .expanded-logo {
        left: 3.5%;
    }
    
    .expanded-nav {
        right: 3.5%;
    }

    .logo {
        width: 40px;
    }
}

@media only screen and (max-width: 1160px) {
    .expanded-logo {
        left: 2.5%;
    }
    
    .expanded-nav {
        right: 2.5%;
    }
}

@media only screen and (max-width: 1070px) {
    .row {
        width: 600px;
    }
    .expanded-logo {
        left: 2.5%;
    }
    
    .expanded-nav {
        right: 2.5%;
    }

}

@media only screen and (max-width: 1005px) {
    h1 {
        font-size: 270%;
    }

    .header-textbox p {
        font-size: 95%;
        padding-right: 20%;
    }
    .expanded-logo {
        left: 7%;
    }
}

@media only screen and (max-width: 900px) {
    .row {
        width: 450px;
    }
    .scrolled-logo img {
        width: 35px;
    }
    h1 {
        font-size: 250%;
    }

    h2 {
        font-size: 170%;
    }

    .header-textbox p {
        font-size: 95%;
        padding-right: 20%;
    }

    .main-text {
        font-size: 16px;
    }
    .expanded-logo {
        left: 7%;
    }

    header::after,
    section::after {
        width: 60%;
    }

    .btn:link,
    .btn:visited {
        font-size: 18px;
    }

    .footer-logo a h4 {
        font-size: 15px;
    }

    .footer-social a ion-icon {
        font-size: 25px;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 650px) {
    .row {
        width: 400px;
    }

    .scrolled-logo {
        left: 0%;
        top: 0%;
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 150%;
        margin-bottom: 30px;
    }

    .header-textbox p {
        font-size: 90%;
        padding-right: 20%;
    }
}

@media only screen and (max-width: 575px) {
    .row {
        width: 300px;
    }

    h1 {
        font-size: 160%;
    }

    .header-textbox p {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 1.3;
    }

    p {
        font-size: 15px;
        font-weight: 400;
    }
}