/*TODO Make the main page responsive and create 3 separate pages for divination, consulting and study */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color: rgb(245, 244, 244);
    color: #34495e;
    font-size: 18px;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

/*! ****************************************************/
/*!                   REUSABLE COMPONENTS              */
/*! ****************************************************/

.row {
    width: 850px;
    margin: 0 auto;
}

section {
    padding: 100px 0;
    position: relative;
    scroll-behavior: smooth;
}

header::after,
section::after {
    content: " ";
    display: block;
    width: 850px;
    border-bottom: 1px solid #C9CCD2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

.hidden {
    display: none;
}

/*!      HEADINGS      */

h1, h2, h3, h4 {
    font-family: 'El Messiri', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

h1 {
    font-size: 340%;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

h2 {
    font-size: 200%;
    margin-bottom: 60px
}

h3 {
    font-size: 140%;
    margin-bottom: 10px;
}

.main-text {
    line-height: 135%;
}

.main-text:not(:last-child) {
    margin-bottom: 40px;
}

.header-textbox p {
    margin-bottom: 20px;
    font-size: 110%;
    line-height: 140%;
    width: 850px;
}


/*!      Buttons      */

.btn:link,
.btn:visited {
    display: inline-block;
    font-size: 120%;
    text-decoration: none;
    color: #e74c3c;
    font-weight: 500;
    padding-bottom: 2px;
    border-bottom: 3px solid transparent;
    transition: padding .5s ease, border-bottom .5s ease;
}

.btn:hover,
.btn:active {
    padding-left: 25px;
    border-bottom: 3px solid #e74c3c;
}

.btn-light:link,
.btn-light:visited {
    text-decoration: none;
    font-size: 100%;
    font-weight: 500;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: padding .5s ease, border-bottom .5s ease;
}

/*! ****************************************************/
/*!                       NAVIGATION                   */
/*! ****************************************************/

nav {
    padding: 30px 200px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all .5s ease;
}

.logo {
    width: 50px;
    float: left;
}
.nav-main {
    list-style: none;
    float: right;
    margin-top: 15px;
    transition: all .5s ease;
}

.nav-main li {
    display: inline-block;
    margin-left: 30px;
}

.nav-main li a:visited,
.nav-main li a:link,
.scrolled-nav-main li a:visited,
.scrolled-nav-main li a:link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-weight: 600;
    transition: padding 0.5s ease, border-bottom 0.5s ease;
}

.nav-main li a:visited,
.nav-main li a:link {
    color: #34495e;
    padding-bottom: 2px;
}
.nav-main li a:hover,
.nav-main li a:active,
.scrolled-nav-main li a:hover,
.scrolled-nav-main li a:active  {
    border-bottom: 2px solid #e74c3c;
}
.scrolled-nav-main li a:visited,
.scrolled-nav-main li a:link {
    color: #e74c3c;
}

.scrolled-nav-main li a:hover,
.scrolled-nav-main li a:active {
    color: #e74c3c;
}

.scrolled-navigation img {
    position: fixed;
    top: 10%;
    left: -200px;
    width: 40px;
    opacity: 0;
    height: auto;
    transition: left .5s ease, opacity .5s ease;
    z-index: 5;
}

.scrolled-nav-main {
    list-style: none;
    position: fixed;
    top: 10%;
    right: -200px;
    opacity: 0;
    transition: right .5s ease, opacity .5s ease;
    z-index: 5;
}

.scrolled-nav-main li {
    margin: 10px 0;
}


.main-retracted {
    top: -10% !important;
    opacity: 0 !important;
}

.secondLogo-extended {
    left: 7.5% !important;
    opacity: 1 !important;
}

.secondNav-extended {
    right: 7.5%;
    opacity: 1;
}
.mobile-nav-logo {
    display: none;
    width: 30px;
    position: fixed;
    top: 2.5%;
    left: 2.5%;

}
.mobile-nav-icon {
    display: none;
    color: #34495e;
    z-index: 3;
}

.mobile-nav-overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 50%;
    background: #fff;
    overflow: hidden;
    z-index: 2;
    transition: left .5s ease;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1)
}

.mobile-nav-menu {
    display: block;
    list-style: none;
    margin: 0 auto;
    width: 80%;
}

.mobile-nav-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.mobile-nav-overlay ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mobile-nav-container ul li:first-of-type h4 {
    margin-bottom: 30px;
}
.mobile-nav-container ul li:not(:last-of-type) {
    margin-bottom: 15px;
}
/* .mobile-nav-container ul li {
    width: 80%;
} */
.mobile-nav-container ul li a img {
    width: 50px;
    margin-bottom: 20px;
}

.mobile-nav-container ul li h4 {
    font-size: 85%;
}

.mobile-nav-overlay ul li a:link,
.mobile-nav-overlay ul li a:visited {
    color: #34495e;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    font-size: 120%;
}

.overlay-expanded {
    left: 0;
}


/*! ****************************************************/
/*!                          HEADER                    */
/*! ****************************************************/

header {
    position: relative;
    height: 100vh;
    width: 100%;
}


.header-textbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: fadeInTop;
    animation-duration: 1s;
}

/*! ****************************************************/
/*!                          STUDY                    */
/*! ****************************************************/

.level-container {
    margin-top: 50px;
}

.level-box {
    padding: 25px 25px 25px 15px;
    margin: 10px 5px 10px 0;
    height: 280px;
    width: 100%;
}

.dark-level-box {
    background: #e74c3c;
    color: #fff;
}

.study-register {
    margin-top: 40px;
}
.study-register label {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #e74c3c;
}
input[type='email'] {
    display: inline-block;
    padding: 7px;
    border: none;
    border-radius: 2.5px;
    width: 65%;
    outline: none;
}
input[type='submit'] {
    margin-top: 5px;
    background: transparent;
    border: none;
    font-weight: 600;
    float: right;
    padding-bottom: 1px;
    color: #fff;
    transition: border-bottom 0.25s ease;
}

input[type='submit']:hover {
    border-bottom: 1px solid #fff;
}

/*! ****************************************************/
/*!                          FOOTER                    */
/*! ****************************************************/

footer {
    padding: 50px 0;
}

.footer-logo-img {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.footer-logo a:link,
.footer-logo a:visited
 {
    color: inherit;
    text-decoration: none;
}
.footer-logo a h4 {
    display: inline-block;
    vertical-align: middle;
}

.footer-social {
    float: right;
}

.footer-social a {
    color: inherit;
    text-decoration: none;
}
ion-icon {
    font-size: 30px;
    transition: color .5s ease;
    margin-left: 10px;
}

#logo-instagram:hover {
    color: #C13584;
}

#logo-youtube:hover {
    color: #FF0000;
}

#logo-facebook:hover {
    color: #4267B2;
}

.footer-text {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 80%;
    text-align: center;
}


/*! ****************************************************/
/*!                      ANIMATIONS                    */
/*! ****************************************************/


@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 6s linear infinite;
    -moz-animation: rotating 6s linear infinite;
    -ms-animation: rotating 6s linear infinite;
    -o-animation: rotating 4s linear infinite;
    animation: rotating 6s linear infinite;
  }
