/**  Tablets in landscape mode, older desktop monitors **/
@media only screen and (min-width: 1024px) and (max-width: 1365px) {

}

/**  Tablets in portrait mode, large display smartphones landscape mode **/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/**  Smartphones in landscape mode **/
@media only screen and (min-width: 421px) and (max-width: 767px) {
 
}

/**  Smartphones in portrait mode **/
@media only screen and (max-width: 420px) {
    body {
        text-align: center;
    }
    nav {
        display: none;
    }

    .row {
        width: 60%;
    }

    h1 {
        font-size: 140%;
        word-spacing: 1px;
        letter-spacing: 0px;
    }
    .header-textbox {
        position: absolute;
        top: 50%;
        left: 0%;
    }
    .header-textbox p {

        font-size: 90%;
        line-height: 140%;
        width: 60%;
        margin: 0 auto 20px;
        padding: 0;
    }

    header::after,
    section::after {
        content: " ";
        display: block;
        width: 50%;
        border-bottom: 1px solid #C9CCD2;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)
    }
}